.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    gap: 20px; /* Space between items */
    margin-top: 20px;
    padding: 20px;

}
.Main-Services{
    margin-top: 7rem;
}
.Main-Services h2{
 text-align:left;
 margin-left:5rem ;
 color:#022F4A
}
.Main-Services h2::after{
    content: "";
    width: 2rem;
    height: 4px;
    background: #ff6600;
    display: block;
    margin-top: 0.2rem;
    margin-left: 6rem ;
}
.service {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.service img {
    width: 60px;
    height: 60px;
}

.service-text h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color:#022F4A
}

.service-text p {
    font-size: 1rem;
    color: #555;
}

/* RESPONSIVE DESIGN */
/* Mobile: Make it 1 column */
@media (max-width: 768px) {
    .services {
        grid-template-columns: 1fr; /* 1 item per row on mobile */
    }
}
