.Main-outlet{
    display: flex;
    flex-direction: row;
}
.outset
{
  margin-left: 14rem;
  margin-top: 4.5rem;
}
.outset.dark{
  background-color: #070707 ;
  width:900px
}
.outset.light{
  background-color: white;
  width:900px
}
  
  .Main-outlet.dark {
    background-color: #070707;
    color: white;
  }
